{% extends 'base.html.twig' %}

{% block title %}Liste des véhicules
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Liste des véhicules</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Immatriculation</th>
					<th>Mise en circulation</th>

					<th>Marque</th>
					<th>Version</th>

					<th>D3_commerial</th>

					<th>Controle technique le:</th>

					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for vehicule in vehicules %}
					<tr>
						<td>{{ vehicule.id }}</td>
						<td>{{ vehicule.immatriculation }}</td>
						<td>{{ vehicule.immatriculationAt ? vehicule.immatriculationAt|date('d/m/Y') : '' }}</td>

						<td>{{ vehicule.marque }}</td>
						<td>{{ vehicule.version }}</td>

						<td>{{ vehicule.d3Commerial }}</td>

						<td>{{ vehicule.controleAt ? vehicule.controleAt|date('d/m/Y') : '' }}</td>

						<td>
							<a href="{{ path('vehicule_show', {'id': vehicule.id}) }}">Consulter</a>
							<a href="{{ path('vehicule_edit', {'id': vehicule.id}) }}">Modifier</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="45">Aucun véhicule dans la base</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('vehicule_new') }}">Ajouter un véhicule</a>
	</div>
{% endblock %}
