{% extends 'base.html.twig' %}

{% block title %}Vehicule{% endblock %}

{% block body %}
    <h1>Vehicule</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vehicule.id }}</td>
            </tr>
            <tr>
                <th>Immatriculation</th>
                <td>{{ vehicule.immatriculation }}</td>
            </tr>
            <tr>
                <th>ImmatriculationAt</th>
                <td>{{ vehicule.immatriculationAt ? vehicule.immatriculationAt|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Titulaire1</th>
                <td>{{ vehicule.titulaire1 }}</td>
            </tr>
            <tr>
                <th>Titulaire2</th>
                <td>{{ vehicule.titulaire2 }}</td>
            </tr>
            <tr>
                <th>Titulaire_adresse</th>
                <td>{{ vehicule.titulaireAdresse }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ vehicule.marque }}</td>
            </tr>
            <tr>
                <th>Version</th>
                <td>{{ vehicule.version }}</td>
            </tr>
            <tr>
                <th>D21_codecni</th>
                <td>{{ vehicule.d21Codecni }}</td>
            </tr>
            <tr>
                <th>D3_commerial</th>
                <td>{{ vehicule.d3Commerial }}</td>
            </tr>
            <tr>
                <th>Numero_VIN</th>
                <td>{{ vehicule.numeroVIN }}</td>
            </tr>
            <tr>
                <th>F1_ptac</th>
                <td>{{ vehicule.f1Ptac }}</td>
            </tr>
            <tr>
                <th>F3_ptra</th>
                <td>{{ vehicule.f3Ptra }}</td>
            </tr>
            <tr>
                <th>G1_poidsvide</th>
                <td>{{ vehicule.g1Poidsvide }}</td>
            </tr>
            <tr>
                <th>I_certificatAt</th>
                <td>{{ vehicule.iCertificatAt ? vehicule.iCertificatAt|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>J1_genre</th>
                <td>{{ vehicule.j1Genre }}</td>
            </tr>
            <tr>
                <th>J2_carrosserie</th>
                <td>{{ vehicule.j2Carrosserie }}</td>
            </tr>
            <tr>
                <th>J3_nat</th>
                <td>{{ vehicule.j3Nat }}</td>
            </tr>
            <tr>
                <th>K_reception</th>
                <td>{{ vehicule.kReception }}</td>
            </tr>
            <tr>
                <th>P1_cylindree</th>
                <td>{{ vehicule.p1Cylindree }}</td>
            </tr>
            <tr>
                <th>P2_kw</th>
                <td>{{ vehicule.p2Kw }}</td>
            </tr>
            <tr>
                <th>P3_energie</th>
                <td>{{ vehicule.p3Energie }}</td>
            </tr>
            <tr>
                <th>P6_cv</th>
                <td>{{ vehicule.p6Cv }}</td>
            </tr>
            <tr>
                <th>S1_assis</th>
                <td>{{ vehicule.s1Assis }}</td>
            </tr>
            <tr>
                <th>S2_debout</th>
                <td>{{ vehicule.s2Debout }}</td>
            </tr>
            <tr>
                <th>U1_db</th>
                <td>{{ vehicule.u1Db }}</td>
            </tr>
            <tr>
                <th>U2_moteur</th>
                <td>{{ vehicule.u2Moteur }}</td>
            </tr>
            <tr>
                <th>V7_co2</th>
                <td>{{ vehicule.v7Co2 }}</td>
            </tr>
            <tr>
                <th>V9_cee</th>
                <td>{{ vehicule.v9Cee }}</td>
            </tr>
            <tr>
                <th>ControleAt</th>
                <td>{{ vehicule.controleAt ? vehicule.controleAt|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Longueur</th>
                <td>{{ vehicule.longueur }}</td>
            </tr>
            <tr>
                <th>Largeur</th>
                <td>{{ vehicule.largeur }}</td>
            </tr>
            <tr>
                <th>Hauteur</th>
                <td>{{ vehicule.hauteur }}</td>
            </tr>
            <tr>
                <th>Transmission</th>
                <td>{{ vehicule.transmission }}</td>
            </tr>
            <tr>
                <th>Boite</th>
                <td>{{ vehicule.boite }}</td>
            </tr>
            <tr>
                <th>Nbvitesse</th>
                <td>{{ vehicule.nbvitesse }}</td>
            </tr>
            <tr>
                <th>Couleur</th>
                <td>{{ vehicule.couleur }}</td>
            </tr>
            <tr>
                <th>Reservoir</th>
                <td>{{ vehicule.reservoir }}</td>
            </tr>
            <tr>
                <th>Conso_urbaine</th>
                <td>{{ vehicule.consoUrbaine }}</td>
            </tr>
            <tr>
                <th>Conso_mixte</th>
                <td>{{ vehicule.consoMixte }}</td>
            </tr>
            <tr>
                <th>AchatAt</th>
                <td>{{ vehicule.achatAt ? vehicule.achatAt|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>VenteAt</th>
                <td>{{ vehicule.venteAt ? vehicule.venteAt|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Valeur</th>
                <td>{{ vehicule.valeur }}</td>
            </tr>
            <tr>
                <th>Pneumatiques</th>
                <td>{{ vehicule.pneumatiques }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('vehicule_index') }}">back to list</a>

    <a href="{{ path('vehicule_edit', {'id': vehicule.id}) }}">edit</a>

    {{ include('vehicule/_delete_form.html.twig') }}
{% endblock %}
