{% extends 'base.html.twig' %}

{% block title %}Entretien{% endblock %}

{% block body %}
    <h1>Entretien</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entretien.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entretien.date ? entretien.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entretien.description }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ entretien.montant }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('entretien_index') }}">back to list</a>

    <a href="{{ path('entretien_edit', {'id': entretien.id}) }}">edit</a>

    {{ include('entretien/_delete_form.html.twig') }}
{% endblock %}
